{% extends 'template.html' %}
{% block title %}Login{% endblock %}
{% block root %}

<h1>Login</h1>
<br>
{% if messages %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}
<br>
<form method="post">
    {% csrf_token %}
    {{form}}
    <br>
    <button type="submit">Submit</button>
</form>

<button onclick="Toglereset()">Forget Password</button>
<div id="reset">
<br>

<form action="{% url 'pass_link' %}" method="POST">
    {% csrf_token %}
    <input type="email" name="mail" id="mail">
    <button type="submit">Snd Link</button>
</form>

</div>


{% endblock %}

