{% extends 'template.html' %}
{% block title %}Reset{% endblock %}
{% block root %}

<h1>Reset</h1>
<br>
{% if messages %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}
<br>

<form method="post">
    {% csrf_token %}
    <input type="text" value="{{token}}" hidden>
    <input type="password" name="p1" id="p1">
    <input type="password" name="p2" id="p2">
    <br>
    <button type="submit">Submit</button>
</form>

<a href="{% url 'login' %}"></a>

{% endblock %}
<script>
    

</script>